<section class="mainbar" data-ng-controller="complexController as vm">
    <div class="widget-content user">
        <div class="demo-section k-header">
            <div kendo-toolbar k-options="vm.toolbarOptions"></div>
        </div>
        <form name="suburbForm" kendo-validator="validator" ng-submit="validate($event)" ng-model="isValid" style="width: 50%;">
            <ul kendo-panel-bar="panelBar" k-scope-field="panelBar" k-options="vm.panelBarOptions" style="max-width: 900px">
                <li id="companyPanel" class="k-state-active">
                    <span>Panel Suburb</span>
                    <div style="padding: 10px;">

                            <select ng-disabled="!editingData" k-scope-field="suburb" name="suburb" id="suburb" style="width: 50%;"
                                    k-ng-model="$ctrl.data.suburbId"
                                    kendo-drop-down-list
                                    k-data-text-field="'name'"
                                    k-data-value-field="'id'"
                                    k-data-source="suburbs"
                                    k-data-bound="dataBound"
                                    data-value-primitive="true"
                                    k-change="onSuburbChange"
                                    required></select>

                        <div class="form-group">
                            <label style="width: 130px" for="postCode">Post Code:</label>
                            <input ng-disabled="true" style="width: 50px" id="postCode" ng-model="postCode" />
                            <label style="width: 50px" for="state">State:</label>
                            <input ng-disabled="true" style="width: 100px" id="state" ng-model="state" />
                            <label style="width: 50px" for="country">Country:</label>
                            <input ng-disabled="true" style="width: 100px" id="country" ng-model="country" />
                        </div>

                        <div class="form-group">
                            <button style="width: 50px" id="validate" content ng-click="validate($event)">Validate</button>
                        </div>
                    </div>
                </li>
                <li class="k-state-active">
                    <span>Other Panel</span>
                    <div style="padding: 10px;">

                    </div>
                </li>
            </ul>
        </form>
    </div>
</section>