.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading{
    background: rgba(122, 130, 136, 0.2)!important;
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.2)!important;
}

.listingsSearchTypeButton {
    min-width: 100px;
    text-align: left;
}

.listingsSearchButton {
    background-color: blue;
    color: white;
}

.listingsSearch-lg .k-multiselect-wrap {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.listingsSearch-lg {
    padding-left: 3px;
    padding-right: 3px
}

.listingsSearch-dropdown-header {
    border-width: 0 0 1px 0;
    font-weight: bold;
    /*text-transform: lowercase;*/
}

.listingsSearch-dropdown-header > span {
    display: inline-block;
    padding: 10px;
}

.listingsSearch-dropdown-header > span > img {
    height: 20px;
}

.listingsSearch-dropdown-header > span:first-child {
    width: 10px;
}


.InputAddOn {
    display: flex;
}

.InputAddOn-field {
    flex-grow:1
    /* field styles */
}

.InputAddOn-item {
    /* item styles */
}



