<div class="listingsSearch">
    <div align="left" class="panel-heading">{{ searchListingsLabel }}</div>
    <div class="listingsSearchGroup">
        <div class="dropdown btn-group">
            <button class="btn btn-secondary dropdown-toggle listingsSearchTypeButton" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ searchListingsType }}
            </button>
            <div class="dropdown-menu">
                <button class="dropdown-item" type="button" ng-click="listingTypeSelect($event)">Buy</button>
                <button class="dropdown-item" type="button" ng-click="listingTypeSelect($event)">Rent</button>
                <button class="dropdown-item" type="button" ng-click="listingTypeSelect($event)">Sold</button>
            </div>
        </div>
        <select id="listingsSearchCtrl" kendo-multi-select k-options="selectOptions" class="listingsSearchSelect"></select>
        <button ng-click="listingSearchClick()" type="button" class="btn btn-lg listingsSearchButton" ng-disabled="!isListingSearchEnabled">Search</button>
    </div>
</div>

